@model ResetPasswordDto

<div class="text-center my-2">
    <div class="display">
        <i class="fa-solid fa-key"></i>
        <b> Reset Password for @Model?.UserName </b>
    </div>
</div>

<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="text-danger" asp-validation-summary="All"></div>

        <form method="post" asp-action="ResetPassword">
            <input type="hidden" asp-for="UserName" />
            <div class="form-group my-3">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" />
            </div>
            <div class="form-group my-3">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
            </div>
            <div class="form-group my-3">
                <div class="btn-group d-flex justify-content-end">
                    <a asp-action="Index" class="btn btn-outline-secondary rounded">
                        <i class="fa fa-solid fa-arrow-left"></i>
                        Back
                    </a>
                    &nbsp;
                    <button type="submit" class="btn btn-success rounded">
                        <i class="fa-solid fa-lock"></i>
                        Save Change
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-3"></div>
</div>
