@model List<Product>

@section Footer {
    <div>
        Only for Index footer
    </div>
}

@foreach (Product product in Model)
{
    <div>
        <h3>@product.ProductName</h3>
        <p>@product.Price</p>
        <p>
            <a href="/Product/GetOneProductById/@product.ProductId"> Get Details </a>
        </p>
    </div>
    <hr />
}

<!-- Footer -->