@model List<StoreApp.Models.Product>

@{
    Layout = "_Layout";
}

@section Footer {
    <div>
        Only for Index footer
    </div>
}

@foreach (StoreApp.Models.Product product in Model)
{
    <div>
        <h3>@product.ProductName</h3>
        <p>@product.Price</p>
        <p>
            <a href="/Product/GetOneProductById/@product.ProductId"> Get Details </a>
        </p>
    </div>
    <hr />
}
