@model IEnumerable<IdentityRole>

<div class="text-center">
    <div class="display">
        <b> Roles </b>
    </div>
</div>

<ul class="list-group my-2">
    @foreach (var role in Model) 
    {
        <li class="list-group-item">@role.Name</li>
    }
</ul>