@model IEnumerable<Category>

<div class="text-center my-2">
    <h6 class="lead">
        <i class="fa fa-solid fa-bars text-secondary"></i>
        <b> Categories </b>
    </h6>
</div>

<ul class="list-group">
    @foreach (var category in Model) 
    {
        <li class="list-group-item"> @category.CategoryName </li>
    }
</ul>