@model IEnumerable<Product>

<div class="text-center">
    <h6 class="lead">
        <b> Showcase </b>
    </h6>
</div>

<div class="row">
    @foreach (var product in Model)
    {
        <partial name="_ProductCard" model="product" />
    }
</div>