@model List<Employee>

<div class="display-6">
    Index 4
</div>

<div class="lead my-2">
    @foreach (Employee employee in Model) 
    {
        <p>@employee.Id</p>
        <p>@employee.FullName</p>
        <p><strong>Age:</strong>@employee.Age</p>
        <hr/>
    }  
</div>