<div class="bg-dark border-top p-3">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <div class="lead text-center text-light">
                    <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                        <i class="fa-solid fa-store text-light display-6"></i>
                        <br />
                        <b>Store</b>App
                    </a>
                </div>
                <div class="text-light text-center">
                    Atakan Turgut
                </div>
            </div>
            <div class="col-md-8">
                <div class="text-center text-light my-3">
                    &copy; 2023 <br /> StoreApp ASP.NET Core MVC
                </div>

                <div class="text-center text-light">
                    <div class="btn-group">
                        <a href="https://github.com/AtakanTurgut" target="_blank" class="btn btn-secondary">
                            <i class="fa-brands fa-github"></i>
                        </a>
                        <a href="https://twitter.com/Atakan_Turgut20" target="_blank" class="btn btn-secondary">
                            <i class="fa-brands fa-twitter"></i>
                        </a>
                        <a href="https://www.linkedin.com/in/atakan-turgut-8b3847206" target="_blank"
                            class="btn btn-secondary">
                            <i class="fa-brands fa-linkedin"></i>
                        </a>
                        <a href="https://www.youtube.com/channel/UCb8KQ--HfxSVsW8m8T0DUWg" target="_blank"
                            class="btn btn-secondary">
                            <i class="fa-brands fa-youtube"></i>
                        </a>
                        <a href="https://www.instagram.com/atkn.trgt/" target="_blank" class="btn btn-secondary">
                            <i class="fa-brands fa-instagram"></i>
                        </a>
                    </div>
                </div>

            </div>
            <div class="col-md-2 text-secondary">
                <div products="" count="4"></div>
            </div>
        </div>
    </div>
</div>