@page "/getintouch"

<div class="text-center border my-2 rounded">
    <div class="lead border-bottom">
        <b>Contact</b>
    </div>
    <div class="lead">
        <i class="fa fa-phone bg-warning text-white p-2 rounded my-2"></i>
        <p> ALO 543445 StoreApp information and support line </p>

        <i class="fa-solid fa-map-location-dot bg-danger text-white p-2 rounded my-2"></i>
        <p> Isparta/Merkez - Denizli/Pamukkale </p>

        <i class="fa-solid fa-envelope bg-primary text-white p-2 rounded my-2"></i>
        <p> atakan.trgt@hotmail.com </p>
    </div>
</div>
