@page "/getintouch"

<div class="text-center border my-2 rounded">
    <div class="display-6">
        CONTACT
    </div>
    <div class="lead">
        <i class="fa fa-phone text-warning my-2"></i>
        <p> ALO 543445 StoreApp information and support line </p>

        <i class="fa-solid fa-map-location-dot text-danger my-2"></i>
        <p> Isparta/Merkez - Denizli/Pamukkale </p>

        <i class="fa-solid fa-envelope text-primary my-2"></i>
        <p> atakan.trgt@hotmail.com </p>
    </div>

    <div class="row">
        <div class="text-center">
            <div class="social-links">
                <a href="https://github.com/AtakanTurgut" target="_blank">
                    <i class="fa-brands fa-github text-dark"></i>
                </a>
                &nbsp;
                <a href="https://www.linkedin.com/in/atakan-turgut-8b3847206" target="_blank">
                    <i class="fa-brands fa-linkedin text-dark"></i>
                </a>
                &nbsp;
                <a href="https://twitter.com/Atakan_Turgut20" target="_blank">
                    <i class="fa-brands fa-square-x-twitter text-dark"></i>
                </a>
            </div>
        </div>
    </div>
</div>
